-   repo: git://github.com/pre-commit/pre-commit-hooks
    sha: v0.9.1
    hooks:
    -   id: check-merge-conflict
    -   id: trailing-whitespace
        args:
        - --no-markdown-linebreak-ext
-   repo: git://github.com/Lucas-C/pre-commit-hooks
    sha: v1.0.1
    hooks:
    -   id: remove-crlf
        exclude: npp/.*\.xml
    -   id: remove-tabs
-   repo: local
    hooks:
    -   id: make
        name: make
        language: system
        entry: make
        files: ''
